@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  background-color: #000;
  color: #fff;
}

.controls {
  height: 100%;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: min(2em, 6vw);
  gap: .3em;
  user-select: none;
}

.link-wr {
  position: relative;
}

#search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .5em;
  font-size: .8em;
  cursor: pointer;
}

#warn {
  position: absolute;
  bottom: 1vh;
  font-size: .55em;
  color: #ffffff88;
  text-align: center;
  width: 100vw;
}

.check {
  font-size: .7em;
  color: #ffffff88;
  display: flex;
  align-items: center;
  gap: .5em;
}

#checkbox {
  height: .8em;
  width: .8em;
  border: 2px solid #ffffff88;
  font-weight: 500;
  cursor: pointer;
}

#checkbox .inner {
  display: none;
}

#checkbox.checkbox-on .inner {
  transform: translateY(-.2em);
  display: block;
  color: #ffffff88;
  font-size: .9em;
}

#link {
  font-size: 1em;
  background-color: transparent;
  outline: none;
  border: 2px solid #fff;
  color: white;
  font-family: inherit;
  text-align: center;
  padding: 0.2em 0;
  border-radius: .2em;
}

iframe {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#exit {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  font-size: 1.5em;
  background-color: black;
  color: white;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 25%;
  font-weight: bold;
  cursor: pointer;
  display: none;
  opacity: 0.3;
  transition: opacity 0.2s;
}

#exit:hover {
  opacity: 1;
}